---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Who we are?</h3>
    <!-- {{ content }} -->
    This is a non-official and non-profit organization that helps women living at King Abdullah University of Science and Technology to survive.
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
</div>


<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Our mission</h3>
    <!-- {{ content }} -->
    We share how to identifying and preventing bullying in the workplace, and how to resolve it if an issue happens.
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/fight-back.jpg" alt="Home" width="100%">
  </div>
</div>

